<main>
    <section class="container py-4">
        <div class="card">
                <div class="headTxt">
                    <!-- <h3>{{singleItem?.item_name}}</h3> -->
                </div>
                <div class="card-body">
                    <!-- <p class="card-text">Company: {{singleItem?.company}}</p>
                    <p class="card-title">Description: {{singleItem?.desc}}</p>
                    <p class="card-title">Price: Rs.{{singleItem?.price}}</p> -->
                </div>
            </div>
    </section>
</main>