main {
    background: linear-gradient(to bottom left, rgb(176, 176, 176), rgb(244, 244, 244), rgb(176, 176, 176));
}

.regForm {
    background: linear-gradient(to bottom right, rgb(0, 188, 135), rgb(66, 239, 190), rgb(189, 255, 236), rgb(66, 239, 190), rgb(0, 188, 135));
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(89, 89, 89);
}

form {
    background-color: rgb(189, 255, 236);
    width: 30%;
    height: auto;
    padding: 40px;
    margin: 60px 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 10px rgb(226, 255, 247);

    /* position: relative; */
}

form h3 {
    font-family: Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.inputField {
    /* background-color: rgb(216, 175, 255); */
    width: 100%;
}

.inputField label {
    width: 100%;
}

.inputField input {
    width: 100%;
    margin-bottom: 6%;
}

form .btn {
    background-color: rgb(0, 188, 135);
    color: white;
    box-shadow: 1px 1px 10px 5px rgb(236, 255, 250);

    /* centering */
    position: relative;
    left: 35%;
    transform: translateY(10%);
}

form .btn:hover {
    background-color: rgb(189, 255, 236);
    color: rgb(53, 53, 53);
    box-shadow: 1px 1px 10px 5px rgb(0, 96, 69);
}

form .btn:disabled {
    opacity: 0.3;
    box-shadow: 1px 1px 10px 5px rgb(126, 81, 81);
    cursor: none;
}

.error {
    color: red;
    text-align: right;
    font-size: 10px;
}