<main>
    <section class="container py-4">
        <div class="searchField">
            <form #srchItm="ngForm" (ngSubmit)="searchItem(srchItm)">
                <input type="text" name="sText" id="sText" placeholder="Search Product" ngModel #sText="ngModel">
                <button class="btn" type="submit">Search</button>
            </form>
        </div>
        <ng-container *ngIf="itemArrLen != 0; else notFound">
            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
                <ng-container *ngFor="let i of item">
                    <div class="col">
                        <div class="card">
                            <!-- <img src="{{i.image}}" class="card-img-top" alt="image"> -->
                            <div class="card-body">
                                <h3 class="card-title">{{i.item_name}}</h3>
                                <h5 class="card-title">Company: {{i.company}}</h5>
                                <h5 class="card-title">Rs.{{i.price}}</h5>
                                <p class="card-text"><span class="d-inline-block text-truncate"
                                        style="max-width: 200px;">{{i.desc}}</span></p>
                                <a routerLink="details/{{i.id}}"><button>Details</button></a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <ng-template #notFound>
            <div class="ntFnd">
                <h1>"SORRY! No Item matched"</h1>
            </div>
        </ng-template>
    </section>
</main>